
$margin: 1rem;

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow: hidden;
    font-size: 1rem;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Overpass Mono', monospace;
    background: black;
    color: white;
}

#root {
    width: 100%;
    height: 100%;
}

.menu {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2rem;
    padding: 0 $margin;
    position: relative;
    .bar {
        line-height: 1rem;
        display: flex;
        justify-content: space-between;
        > div {
            white-space: nowrap;
            overflow-x: hidden;
            max-width: 50%;
        }
    }
    .sub {
        z-index: 10000;
        position: absolute;
        top: -1px;
        left: 0;
        padding: $margin;
        width: 100%;
        font-family: 'Overpass Mono', monospace;
        font-size: 1rem;
        margin-top: 2rem;
        background: black;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
        .item {
            padding: 0.5rem 0;
            cursor: pointer;
        }
        .close {
            position: fixed;
            top: 0;
            left: 50%;
            text-align: center;
            margin-left: -1rem;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            background: rgba(0, 0, 0, 0.5);
            display: inline-block;
            cursor: pointer;
        }
    }
    .sub .right {
        text-align: right;
    }
    .sub.below {
        z-index: 9999;
        padding-top: 0;
    }
}

.menu.no-barcode {
    font-family: 'Overpass Mono', monospace;
    font-size: 1rem;
    text-decoration: underline;
}

section {
    position: relative;
    padding-top: $margin;
    .menu {
        margin-bottom: $margin;
    }
    .editor {
        width: 100%;
        height: calc(100vh - 4rem);
        &.preview {
            height: calc(50vh - 2rem);
        }
    }
    .iframe {
        overflow: hidden;
        display: none;
        text-align: center;
        iframe {
            border: none;
            width: 100%;
            max-width: 50vh;
            height: 100%;
        }
        &.preview {
            display: block;
            height: calc(50vh - 2rem);
        }
    }
}

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 1.8rem;
    }
}
@media (min-width: 1600px) {
    html {
        font-size: 2rem;
    }
}



.loading {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        animation-name: spinner; 
        animation-timing-function: linear; 
        animation-iteration-count: infinite; 
        animation-duration: 2s; 
        width: 300px;
    }
}


.full-width {
    width: 100%;
}

.margin {
    margin: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.center {
    text-align: center;
}


a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: rgb(32, 64, 255, 1)
}
